<input {% if is_exclude %}checked="checked"{% endif %}  id="as_sitemap_page_exclude" type="checkbox" name="as_sitemap_page_exclude" value="1">
<label for="as_sitemap_page_exclude">{{__('Exclude this page from sitemap', 'as-sitemap')}}</label>